
ol,ul{
    list-style: circle inside none;
    margin-left: 3vw;
    padding: 0;
}

a.permitted {
    color: black;
}

a.verboten {
    color: red;
}

.flex-container {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}
.flex-container > div {
    /*margin: 10px 30px 10px 30 px;*/
}

.epigraph {
    margin: 2vh 10vw;
    height: 4vh;
    width: 80vw;
    max-width: 900px;
    max-height: 100px;
}

#top{
    background: #80c846 url("/assets/images/plaster_wall_texture.jpg") fixed;
    box-shadow:0 -4px 0 rgba(0, 0, 0, 0.1) inset;
    padding:0;
    position:relative;
    height: 15vh;
}
#top h1{
    color: dimgray;
    font-size: 2.2em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}

.title{
    width: 85vw;
    text-align: center;
    margin: 0 auto;
    padding: 1vh 0;
}


body{
    color:#555;
    font-family: "Helvetica Nueue",sans-serif;
    padding:0 0;
    background-color: gainsboro;
}


p{margin:1em 0;}

.texty {
    max-width: 720px;
    margin: 2em;
    font-size: large;
}

.instructional {
    max-width: 720px;
    margin: 2em;
    font-size: large;
    color: black;
}

#nav-links a:link{
    margin-right: 1em;
    font-size: large;
    color: blueviolet;
}
#nav-links a:visited{
    color: darkblue;
}
#nav-links a:hover{
    color: purple;
}

#discourse {
    width: 45vw;
    max-width: 800px;
    height: 60vh;
    overflow-y: scroll;
    word-wrap: break-word;
    overflow-scrolling: touch;
    margin: 3vh 3vw;
    border: 3vh solid white;
    background-color: white;

}

#world-vals {
    width: 40vw;
    max-width: 320px;
    height: 60vh;
    overflow-y: scroll;
    overflow-scrolling: touch;
    margin: 3vh 3vw;
    border: 3vh solid white;
    background-color: white;
}

#assertion {
    font-size: x-large;
    color: black;
}

#message {
    display: inline;
    line-height: 2em;
}

li {
    margin-bottom: 0.25em;
}

@media (max-width: 800px) {
    .epigraph {
        font-size: 2vw;
    }

    #top h1 {
        font-size: 4vw;
    }
}