@(title: String, message: String, w: World, style: String = "scala")

@main("Room With Montague") {

    <section id="top">
        <div class="title">
            <h1>@title</h1>
        </div>
    </section>

    <section id="main">
        <div class="flex-container" id="world_state">
            <div id="world_vals">
                @worldview(w)
            </div>

            <div id="content" class="wrapper doc">
                @instructions(Monologue.monologues("tutorial"))
                <div id="assertion"><p>@message</p></div>
                @monologue(Monologue.monologues("intro"))
            </div>
    </section>

}