@(title: String, message: String, base_monologue: Monologue, w: World, style: String = "scala")

@main("Room With Montague") {

    <section id="top">
        <div class="title">
            <h1>@title</h1>
        </div>
    </section>

    <section id="main">

        <div class="flex-container" id="world_state">
            <div id="world_vals">

                <div id="nav-links">
                    <a href="@routes.HomeController.showThisRoom">This room</a>
                    <a href="@routes.HomeController.showThatRoom">That room</a>
                </div>

                @worldview(w)
            </div>

            <div id="content" class="wrapper doc">
                <div id="assertion"><p id="message">@message</p> <button>Assert</button><br></div>
                @instructions(Monologue.monologues("tutorial"))
                @monologue(base_monologue)
            </div>
    </section>


    <script src="@routes.Assets.versioned("javascripts/viewingrooms.js")" type="text/javascript"></script>
}